{% load static %}
<footer class="ips-footer">
    <div class="footer-container">
        <div class="footer-branding">
            <div class="footer-logo">
                <a href="/" class="footer-logo-link">
                    <span class="code-symbol">&lt;/&gt;</span> IPS TECH
                </a>
            </div>
        </div>
        <div class="footer-social">
            <a href="https://github.com/Kite-IPS" target="_blank" class="social-icon">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://lnkd.in/gZdPmjSB" target="_blank" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://www.instagram.com/ips_tech.community?igsh=MXNkdndoNzV6YWM3" target="_blank" class="social-icon">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=ipstechcommunity@kgkite.ac.in" class="social-icon">
                <i class="fas fa-envelope"></i>
            </a>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2025 IPS Tech Community. All rights reserved.</p>
        <p class="footer-made-with">Made with <span class="footer-heart">❤</span> by IPS Tech</p>
    </div>
</footer>

<link rel="stylesheet" href="{% static 'css/footer.css' %}">